<h2 mat-dialog-title>{{ isEdit ? 'Editar' : 'Crear' }} planta</h2>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Nombre planta" [(ngModel)]="plant.name" name="name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="País" [(ngModel)]="plant.country" name="country" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Cantidad de lecturas" [(ngModel)]="plant.readings" name="readings" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Alertas medias" [(ngModel)]="plant.mediumAlerts" name="mediumAlerts" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Alertas rojas" [(ngModel)]="plant.redAlerts" name="redAlerts" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">{{ isEdit ? 'Actualizar' : 'Crear' }}</button>
</mat-dialog-actions>