<div class="dashboard">
    <h1>Monitoreo global</h1>
    <div class="metrics">
      <div class="metric">
        <span>Lecturas OK</span>
        <span>{{ monitoringData.totalReadings }}</span>
      </div>
      <div class="metric">
        <span>Alertas medias</span>
        <span>{{ monitoringData.totalMediumAlerts }}</span>
      </div>
      <div class="metric">
        <span>Alertas rojas</span>
        <span>{{ monitoringData.totalRedAlerts }}</span>
      </div>
      <div class="metric">
        <span>Sensores deshabilitados</span>
        <span>{{ monitoringData.disabledSensorsCount }}</span>
      </div>

    </div>
    <app-plant-list></app-plant-list>  <!-- Añade esta línea -->
  </div>